.alert {
	width: 83%;
	margin: -10px auto 15px auto;
}

#box_login{
}
#box_login .box_wrapper{
	margin-left: 0;
}
#box_login .box_wrapper p.already{
	text-align: center;
	font-style: 15px;
	color: #454B52;
}
#box_login .box_wrapper p.already a{
	color: #454B52;
	margin-left: 3px;
	text-decoration: underline;
}
#box_login .box{
    background-color: white;
	border: 1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	float: none;
	margin: 50px auto 25px;
	padding-bottom: 26px;
	width: 38%;
	box-shadow: 0px 0px 10px 0px #DDD;
}
#box_login .box .head{
	background-color: #F4F4F4;
    border-bottom: 1px solid #D6D6D6;
    border-radius: 4px 4px 1px 0;
    display: inline-block;
    margin-bottom: 30px;
    padding: 25px 0 25px;
    text-align: center;
    width: 100%;
}
#box_login .box .head h4{
	font-weight: normal;
	color: #373D44;
	font-size: 21px;
	margin: 0px;
}
#box_login .box .social{
	margin: 0 auto;
	width: 83%;
	text-align: center;
}
#box_login .box .division{
	display: inline-block;
    margin: 17px 0 23px;
    position: relative;
    text-align: center;
    width: 100%;
}
#box_login .box .division hr{
	border-color: #E2E2E4;
    border-width: 1px;
    margin: 0;
    position: absolute;
    width: 40%;
}
#box_login .box .division hr.left{
	top: 13px;
}
#box_login .box .division hr.right{
	bottom: 6px;
    right: 0;
}
#box_login .box .division span{
	color: #666666;
	font-size: 18px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#box_login .box{
	  width: 54%;
	}
	#box_login .box .social{
	}
	#box_login .box .division{
	}
	#box_login .box .division hr{
	}
	#box_login .box .division hr.left{
	}
	#box_login .box .division hr.right{
	}
}
@media (max-width: 979px) {
	#box_login .box{
	  width: 55%;
	}
}
@media (min-width: 980px) {
	#box_login .box{	  
		width: 41%;
	}
}
@media (max-width: 480px) {
	#box_login .box{
		width: 100%;  
	}
	#box_login .box .social{
		margin: 0 auto;
		width: 83%;
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	#box_login .box{
		width: 32.5%;
	}
}
