@(providerId: String, userId: String)(implicit request: RequestHeader)

@import views.html.helper._

@styles = {
	<link rel='stylesheet' href='@routes.Assets.at("stylesheets/signin.css")'>
}

@main("Invite Required", None, styles = styles) {

	<div class="container">

		<div id="box_login">
			<div class="box_wrapper">
				<div class="box">
					<div>
						<div class="head">
							<h4>Invite Required</h4>
						</div>

						@request.flash.get("error").map { msg =>
							<div class="alert alert-danger">
								@msg
							</div>
						}

						<div class="social">
							Since Connected Caching is still in private beta,
							only invited people can create new accounts.<br /><br />
							<form role="form" action="/inviteRequired" method="POST">
							<input type="hidden" name="providerId" value="@providerId" />
							<input type="hidden" name="authUserId" value="@(providerId + "/" + userId)" />
							<div class="row">
								<div class="col-lg-12">
									<div class="input-group">
										<input type="text" name="inviteCode" class="form-control" placeholder="Enter Invite Code here">
										<span class="input-group-btn">
											<button class="btn btn-default btn-success" type="submit">Activate!</button>
										</span>
									</div>
								</div>
							</div>
							</form>

							<hr>

							Don't have an invite? Follow us <a href="#">@@ConCaching</a>, we are giving out invites there regularly!

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}