@()(implicit request: RequestHeader)

@import views.html.helper._

@styles = {
	<link rel='stylesheet' href='@routes.Assets.at("stylesheets/signin.css")'>
	<link rel='stylesheet' href='@routes.Assets.at("stylesheets/flags.css")'>
}

@main("title", None, styles = styles) {

	<div class="container">

		<div id="box_login">
			<div class="box_wrapper">
				<div class="box">
					<div>
						<div class="head">
							<h4>Sign in to your Account</h4>
						</div>

						@request.flash.get("error").map { msg =>
							<div class="alert alert-danger">
								@msg
							</div>
						}

						<div class="social">

							<div class="btn-group">
								<a class="btn btn-default btn-disabled" disabled>Opencaching</a>
								<a class="btn btn-default btn-flag" href="authenticate/okapi-de"><span class="flag flag-btn flag-de"></span></a>
								<a class="btn btn-default btn-flag" href="authenticate/okapi-de"><span class="flag flag-btn flag-es"></span></a>
								<a class="btn btn-default btn-flag"  href="authenticate/okapi-de"><span class="flag flag-btn flag-it"></span></a>
								<a class="btn btn-default btn-flag"><span class="flag flag-btn flag-nl"></span></a>
								<a class="btn btn-default btn-flag"><span class="flag flag-btn flag-pl"></span></a>
								<a class="btn btn-default btn-flag"><span class="flag flag-btn flag-gb"></span></a>
								<a class="btn btn-default btn-flag"><span class="flag flag-btn flag-us"></span></a>
							</div>

							<div class="division">
								<hr class="left">
								<span>or</span>
								<hr class="right">
							</div>

							<a class="face_login" href="#">
								<span class="face_icon">
									<img src="@routes.Assets.at("images/i_face.png")" alt="fb" alt=""/>
								</span>
								<span class="text">Sign in with Facebook</span>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}