@()(implicit request: RequestHeader)

@import views.html.helper._

@styles = {
	<link rel='stylesheet' href='@routes.Assets.at("stylesheets/signin.css")'>
}

@main("title", None, styles = styles) {

	<div class="container">

		<div id="box_login">
			<div class="box_wrapper">
				<div class="box">
					<div>
						<div class="head">
							<h4>Log in to your account</h4>
						</div>

						@request.flash.get("success").map { msg =>
							<div class="alert alert-info">
								@msg
							</div>
						}

						@request.flash.get("error").map { msg =>
							<div class="alert alert-danger">
								@msg
							</div>
						}

						<div class="social">
							@forProviders() { p =>
								<a href="@p.getUrl()">@p.getKey()</a>
							}

							<a class="face_login" href="#">
								<span class="face_icon">
									<img src="@routes.Assets.at("images/i_face.png")" alt="fb" alt=""/>
								</span>
								<span class="text">Sign in with Facebook</span>
							</a>
							<div class="division">
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

}