<!DOCTYPE html>

<html>
	<head>
		<title>Connected Caching Web Interface</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

		<link rel="stylesheet" type="text/css" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/ext-all.css"))">
		<link rel="stylesheet" type="text/css" href="@routes.WebJarAssets.at(WebJarAssets.locate("ext-theme-gray/ext-theme-gray-all.css"))" />
		<script src="@routes.WebJarAssets.at(WebJarAssets.locate("ext-all-debug.js"))" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/webInterface/app.js")" type="text/javascript"></script>
	</head>
	<body>

	</body>
</html>